alembic
annotated-types
anyio
certifi
celery[redis]
click
exceptiongroup
fastapi
h11
httpcore
httpx
idna
Mako
MarkupSafe
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
python-dotenv
redis
sniffio
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn
beautifulsoup4
lxml
email-validator
pytz
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
